/* Variáveis do Design System */
/* fffd7c */
:root {
    --primary-color: #b994fd;
    --primaty-hover: #a87afd;
    --bg-color: #d9cbff;
    --text-color: #8d4ada;
    --white: #ffffff;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --radius: 8px;
    --font-main: "Montserrat", sans-serif;
}

/* Reet básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* Header */
.project__header h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

/* Estilização dos Botões (Inputs e Botão Dinâmico */
.project__button-group input[type="button"],
button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    margin: 10px;
    font-size: 1rem;
    /* E o peso da fonte ( o tanto que ela vai se destacar) */
    font-weight: 600;
    font-family: var(--font-main);
    border-radius: var(--radius);
    cursor: pointer;
    box-sizing: var(--shadow);
    transition: all 0.3s ease;
}

.project__button-group input[type="button"]:hover,
button:hover {
background-color: var(--primaty-hover);
transform: translateY(-2px);
box-shadow: 0 10px 15px -3px rgba(0 0 0 / 0.1);
}